GITHUB_REPO=dev/yarokb
ACME_EMAIL=admin@yarokb.ru

DB_USER=oculus
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_NAME=oculus

JWT_SECRET=CHANGE_ME_RANDOM_SECRET

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ru-central1
S3_BUCKET=oculus-feldsher
S3_ENDPOINT=https://s3.timeweb.cloud

TELEGRAM_BOT_TOKEN=

BACKUP_S3_BUCKET=
BACKUP_S3_ENDPOINT=
